.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1; /* Adjust to your background color */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.Bellify {
  padding: 4px;
  border-radius: 2px;
  transition: all 0.5s;
}

.Bellify:hover {
  background-color: #c4bdbd;
}

.searchContainer {
  /* flex: 1; */
  /* margin: 0 20px; */
  position: relative;

  width: 20%;
}

.SearchBtn {
  position: absolute;
  left: 10px;
  top: 10px;
}

.searchInput {
  width: 100%;
  padding: 8px 12px 8px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchInput::placeholder {
  color: #888;
}

.searchInput:focus {
  outline: none;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profileContainer .fa-bell {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.picContainer {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  gap: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.picContainer:hover {
  background-color: #cccbcb;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  /* cursor: pointer; */
}

.dropdownIcon {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

.bellNotify {
  position: absolute;
  right: 112px;
}
